{% extends "base.html" %} {% block content %}
<div>
  <h1 >How Prepare Are You.....let's see</h1>
  {% if user.is_authenticated %}
  {% comment %} <p>Username: {{user.username}}</p>
  <p>Name: {{user.first_name}} {{user.last_name}}</p>
  <p>Email: {{user.email}}</p> {% endcomment %}

  <table class="table bg-dark">
   
    <tbody>
      <tr>
        <th scope="row">Username: </th>
        <td>{{user.username}}</td>
    
      </tr>
      <tr>
        <th scope="row">Name:</th>
        <td>{{user.first_name}} {{user.last_name}}</td>
      
      </tr>
      <tr>
        <th scope="row">Email: </th>
        <td> {{user.email}}</td>
     
      </tr>
    </tbody>
  </table>
</div>

  {% endif %}
  {% if user.is_authenticated %}

  <form  method="POST">{% csrf_token %}

     <div class="form-group">
    <label for="exampleFormControlInput1">Topic</label>
    <input name="topic" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Topic here">
  </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">comment here</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3"></textarea>
    </div>

    <button class="btn btn-primary" type="submit">comment</button>

  </form>
</div>

  {% endif %} {% endblock %}
</div>
